
#funding{
  padding: 20px 14px 14px 14px;
}

.page-settings-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}

#funding-body{
  display: grid;
  // align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 20px;
}

@media screen and (max-width: 720px) {
  .page-settings-container{
    flex-direction: column;
    height: auto;
    align-items: flex-end;
    gap: 1px;
  }

  #funding-body{
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding-top: 5px;
  }
}