@use '../../../styles/variables' as *;

.downLoadFileBtn{ //button
    width: 100%;
    background-color: transparent;
    margin-top: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &:hover{
        background-color: $ice-blue;
    }

    img {
        width: 24px;
    }

    span{
        color: #000;
    }

    svg{
        height: 24px;
        color: $primary-color;
        background-color: transparent;
    }
}