
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    height: 100%;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    color: #000;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  