.response_container{
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}
.response-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 35px;
}
.sub-item-content-big-data{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #fcb814 0%, #e6a612 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(50, 50, 50, 0.4);

    h1{
        color: white;
        font-size: 30px;
    }
    span{
        color: white;
        font-size: 40px;
        font-weight: 600;
    }
}
.recent-report{
    grid-column: span 2;
    grid-row:  span 2;
    background-color: white;
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px rgba(50, 50, 50, 0.35);

}
.horizontal-container{
    display: flex;
    flex-direction: row;
    width: 100%;    
}
.space-between-container{
    justify-content: space-between !important;
}
.bordered-sub-item{
    border: 1px solid #a7a7a7;
    border-radius: 10px;
}
.manage-button{
    background: linear-gradient(135deg, #fcb814 0%, #e6a612 100%);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    transform: translateY(0px);
    transition: transform 0.1s ease-in;
    
    svg{
        margin-right: 5px;
    }
}
.manage-button:hover{
    color: white !important;
    transform: translateY(-2px);
}
.sub-item-content-big-data-inverted{

    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    box-shadow: 0 1px 10px rgba(50, 50, 50, 0.35);
    h1{
        color: #fcb814;
        font-size: 30px;
    }
    span{
        color: #fcb814;
        font-size: 40px;
        font-weight: 600;
    }
}
.full-width{
    width: 100%;
}
.comparizon-value{
    font-size: 20px !important;
}
.comparizon-container{
    align-items: end !important;
}