  /* Footer */
  footer {
    display: flex;
    justify-content: flex-end;
    color: #6C757D;
    background-color: #fbbf24;
    padding: 8px 20px;
    text-align: center;
    font-size: 14px;
  }

  .bold {
    font-weight: bold;
  }
