@use "../DefaultListViewStyle.scss";

#inKindSummary {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #c5d7e5;
  margin-top: 20px;
  margin-bottom: 20px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  span {
    color: #749ab6;
    font-size: 20px;
    font-weight: 500;
  }

  h2 {
    color: #749ab6;
    font-weight: 600;
    font-size: 22px;
  }
}
